html {
  min-height: 100%;
}
body {
  min-height: 100%;
  padding-bottom: 5rem;
  background-image: linear-gradient(-225deg, #78acbe 0%, #18BC9C 45%, #3c4a51 100%);
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h2, p, label {
  color: #797777;
}
h1 {
  color: white;
}
h4 {
  font-weight: bold;
  font-size: 1.3rem;
  color: #797777;
}
.form-control, label, button {
  font-size: 1rem !important;
}
header {
  margin-top: 3rem;
}
.card {
  background-color: #fefcfb;
  max-width: 570px;
}
.card-body {
  padding: 0.7rem;
  min-height: 140.38px;
}
.bottom-line {
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem;
}
.errorEmptyField {
  border-color: red;
  color: red;
}
.errorEmptyField::placeholder {
  color: red;
}
.w-85 {
  width: 85%;
}
.w-15 {
  width: 15%;
  margin-top: 0.2rem;
}
.blue {
  color: #00bcd4;
}
.purple {
  color: #9c27b096
}
.green {
  color: #18BC9C;
}
.red {
  color: #ff0000a1;
}
.orange {
  color: #ff9800a3;
}
.margin-input-status {
  margin-left: -2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.fa-check,
.fa-plus,
.fa-times {
  cursor: pointer;
}
.fa-plus {
  margin-left: 0.9rem;
  margin-bottom: 1.5rem;
}
.new-task-add-message {
  margin-left: 1rem;
}
.title {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
button {
  background-color: white;
  border: 0;
}
.fas {
  font-size: 1.3rem;
}
.fa-times {
  font-size: 1.5rem;
}
span {
  font-style: italic;
  font-size: 1rem;
}
.fa-square {
  color: #797777;
  cursor: pointer;
}