html {
  min-height: 100%;
  font-size: calc(13px + 6 * ((100vw - 480px) / 801));
}
body {
  min-height: 100%;
  padding-bottom: 5rem;
  background-image: linear-gradient(-225deg, #78acbe 0%, #18BC9C 45%, #3c4a51 100%);
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h2, p, label {
  color: #797777;
}
h1 {
  color: white;
  letter-spacing: 13px;
}
h4 {
  font-weight: bold;
  font-size: 1.3rem;
  color: #797777;
}
header {
  margin-top: 3rem;
}
label, button {
  font-size: 1rem !important;
}
button {
  background-color: white;
  border: 0;
}
span {
  font-style: italic;
  font-size: 1rem;
}
.title {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  letter-spacing: 7px;
}
.card {
  background-color: #fefcfb;
  sssmax-width: 570px;
  margin-bottom: 2rem;
}
.card-body {
  padding: 0.7rem;
  min-height: 158.38px;
}
.card-size {
  min-width: 290px;
}
.bottom-line {
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem;
}
.errorEmptyField {
  border-color: red;
  color: red;
}
.errorEmptyField::placeholder {
  color: red;
}
.w-85 {
  width: 85%;
}
.w-15 {
  width: 15%;
  margin-top: 0.2rem;
}
.w-40 {
  width: 40%;
}
.w-fit {
  width: fit-content;
}
.blue {
  color: #00bcd4;
}
.purple {
  color: #9c27b096
}
.green {
  color: #18BC9C;
}
.red {
  color: #ff0000a1;
}
.orange {
  color: #ff9800a3;
}
.orange-background {
  background-color: orange;
  border-color: orange;
}
.margin-input-status {
  margin-left: -2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.fa-check,
.fa-plus,
.fa-times,
.fa-undo-alt {
  cursor: pointer;
}
.fas {
  font-size: 1.3rem;
}
.fa-times {
  font-size: 1.5rem;
}
.fa-plus {
  margin-left: 0.9rem;
  margin-bottom: 1.5rem;
}
.fa-square {
  color: #797777;
  cursor: pointer;
}
.new-task-add-message {
  margin-left: 1rem;
}
.justify-content-evenly {
  justify-content: space-evenly;
}




/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  .card-size {
    min-width: 450px;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (min-width:600px) {
  .card-size {
    min-width: 560px;
  }
}
@media screen and (min-width:640px) {
  .card-size {
    min-width: 580px;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:801px) {}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {
  .card-size {
    min-width: 600px;
  }
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 16px;
  }

}