button {
  background-color: white;
  border: 0;
}

.green {
  color: #18BC9C;
}
.red {
  color: #ff0000a1;
}
.orange {
  color: #ff9800a3;
}


.fas {
  font-size: 1.2rem;
}
span {
  font-style: italic;
  font-size: 0.8rem;
}
